<h1>Editing categoria</h1>

<%= render "form", categorium: @categorium %>

<br>

<div>
  <%= link_to "Show this categoria", [:administrate, @categorium] %> |
  <%= link_to "Back to categoria", administrate_categoria_index_path %>
</div>
