<p style="color: green"><%= notice %></p>

<h1>Categoria</h1>

<div id="categoria">
  <% @categoria.each do |categorium| %>
    <%= render categorium %>
    <p>
      <%= link_to "Show this categoria", [:administrate, categorium] %>
    </p>
  <% end %>
</div>

<%= link_to "New categoria", new_administrate_categorium_path %>
