<div class="card car-card">
    <%#= image_tag carro.imagem_url, class: "card-img-top", alt: carro.nome %>
    <div class="card-body text-center">
        <h5 class="card-title"><%= carro.modelo %></h5>
        <p class="card-text"><%= carro.ano %></p>
        <a href="#" class="btn btn-primary">Reservar</a>
    </div>
</div>
