<h1>Editing categoria</h1>

<%= render "form", categoria: @categoria %>

<br>

<div>
  <%= link_to "Show this categoria", [:administrate, @categoria] %> |
  <%= link_to "Back to categoria", administrate_categorias_path %>
</div>
