<h1>Editing reserva</h1>

<%= render "form", reserva: @reserva %>

<br>

<div>
  <%= link_to "Show this reserva", [:administrate, @reserva] %> |
  <%= link_to "Back to reservas", administrate_reservas_path %>
</div>
