/* Estilos para a página Index */
.container {
  margin-top: 20px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #ffffff;
  border-color: #004521;
  color: rgb(255, 255, 255);
}

.btn-primary:hover {
  background-color:#004521;
}



.btn-new {
  background-color: #004521;
  border-color: #004521;
  color: rgb(255, 255, 255);
}

.btn-new:hover {
  background-color:#018f46;
  color: rgb(255, 255, 255);

}
.advantages-icon {
  font-size: 2rem;
  color: #00ff00;
}
.car-card img {
  height: 150px;
  object-fit: cover;
}
footer {
  background-color: #004521;
  color:white;
  padding: 20px;
  text-align: center;
}
/* Estilos para o header */
.custom-header {
  background-color: #01602a; /* Cor de fundo (azul Bootstrap) */
  color: white; /* Cor do texto */
  padding: 15px;
}

.custom-header a.nav-link {
  color: white; /* Cor dos links */
  text-decoration: none;
}

.custom-header a.nav-link:hover {
  color: #ffdd57; /* Cor dos links ao passar o mouse */
}
.navbar-brand{
  color:  white;
}
