<h1>Editing pagamento</h1>

<%= render "form", pagamento: @pagamento %>

<br>

<div>
  <%= link_to "Show this pagamento",[:administrate,  @pagamento] %> |
  <%= link_to "Back to pagamentos", administrate_pagamentos_path %>
</div>
